body {
    background-color: rgba(149, 165, 166,.5);
    color: #ffffff;
}
.table td{
    width: 50%;
    padding: 10px;
}

#wiki {
    font-size: 11px;
    color: inherit;
}

.logo {
    padding: 0;
    margin: 0;
    font-size: 10em;
    color: #9b59b6;
}
/* #8e44ad */