body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #7f8c8d;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

::selection {
    color: #fff;
    background: #9b59b6;
}

canvas {
    margin: auto;
}

.main {
    display: flex;
}

.main #sketch,
.main .side-menu {
    width: 50%;
    text-align: center;
}

.btn {
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid #9b59b6;
    cursor: pointer;
    background-color: #9b59b6;
    color: #fff;
    transition: 0.3s backgound;
    border-radius: .25em;
}

.btn:hover {
    border: 2px solid #9b59b6;
    background-color: transparent;
    color: #9b59b6;
}

h3 {
    color: #9b59b6;
}

/* Reset Select */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #95a5a6;
    background-image: none;
}

/* Custom Select  */

.select {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 15em;
    height: 2.5em;
    line-height: 3;
    background: #95a5a6;
    overflow: hidden;
    border-radius: .25em;
    color: #000;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #95a5a6;
    pointer-events: none;
}

/* Transition */

.select:hover::after {
    color: #9b59b6;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    text-align: center;
    background-color: rgb(236, 240, 241);
}

.ban {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #9b59b6;
}

.legend .legend-item.open::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgba(26, 188, 156, 0.5);
}

.legend .legend-item {
    font-size: 12px;
}

.legend .legend-item.close::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: rgba(155, 89, 182, 0.5);
}

.legend .legend-item.path::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: rgb(155, 89, 182);
}